@using global::Games.Hearts
@if (Playslot is null) return;

<div class="d-flex flex-column justify-content-center p-3" style="border-style:solid;border-color:@Color;border-width:3px">
	<div class="text-center">@Playslot.PlayerName</div>
	<Card PlayingCard="Playslot.Card" />
</div>

@code {
	[Parameter, EditorRequired]
	public HeartsGameState.Playslot Playslot { get; set; } = default!;

	[Parameter, EditorRequired]
	public string CurrentPlayer { get; set; } = default!;

	private string Color => Playslot.PlayerName == CurrentPlayer ? "green" : "white";
}
