<details>
	<summary>Build info</summary>
	<dl class="ms-3">
		<dt>Date</dt>
		<dd>@BuildInfo.LocalBuildTime</dd>

		<dt>Commit</dt>
		<dd>
			<a href="https://github.com/adamfoneil/CardGameSDK/commit/@(BuildInfo.Git.CommitId)" target="_blank">
				@BuildInfo.Git.Branch @BuildInfo.Git.ShortCommitId
			</a>
		</dd>
	</dl>
</details>

@code {

}
